@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather+Sans|Open+Sans');

body {
    font-family: 'Merriweather Sans', sans-serif;

}

.md-typeset pre {
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
}